{% extends "header.html" %}

{% block title %}
Home - My Flask App
{% endblock %}

{% block content %}
<h1 class="text-3xl font-bold mb-4">Welcome to My Flask App</h1>
<p class="mb-4">This is the home page. Click the button below to load items dynamically using HTMX.</p>
<button hx-get="/load-more-items" hx-target="#item-list" hx-swap="innerHTML" class="bg-blue-500 text-white px-4 py-2 rounded">Load Items</button>
<div id="item-list" class="mt-4 bg-blue-300">
    <!-- Items will be loaded here -->
</div>

<input
  type="search" 
  name="search"
  placeholder="Search..." 
  hx-post="/search"
  hx-trigger="keyup changed delay:500ms" 
  hx-target="#search-results" 
  hx-swap="innerHTML" 
  class="w-7/8 border border-gray-300 px-4 py-2 rounded mt-4">

<div id="search-results" class="mt-4 w-7/8 h-10 border border-gray-400">
</div>

<script>
  document.getElementById('input').addEventListener('keyup changed delay:500ms', function () {
      var inputValue = document.getElementById('input').value;
      this.setAttribute('hx-vals', JSON.stringify({"query": inputValue}));
  });
</script>
{% endblock %}
