{% extends "header.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="h-screen w-auto">
  <div class="container mx-auto mt-4">
    <h1 class="text-2xl"> <em> Links </em> </h1>

    <ul>
      <li> <a href="/list" class="">List</a> </li>
      <li> <a href="/table" class="">Table</a> </li>  
      <li> <a href="/select" class="">Select</a> </li>
      <li> <a href="/tabs" class="">Tabs</a> </li>
      <li> <a href="/datatables" class="">DataTable</a> </li>
      <li> <a href="/sources" class="">Sources</a> </li>
    </ul>
  </div>
</div>
{% endblock %}
